<!DOCTYPE html>
<html>

<head>
    <title>Youtube downloader</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   
    <form action='/post' method="POST" id="form">
        <label for="ytUrl">URL:</label>
        <input type="text" name="ytUrl" id="ytUrl">
        <input type="submit" value="Look" id="submitBtn" disabled>
    </form>
    <div id="downloadBar">
        <div class="lds-dual-ring"></div>
        <div id="insideBar">    </div>
    </div>
    <button id="downloadBtn" disabled>Download</button>
    <button id="saveSong" disabled>Save to Playlist!</button> |
    <button id="downloadNext" disabled>Download Next</button>
    <hr>

    
    <script src="/js/index.js"></script>
</body>

</html>